[submodule "linux"]
	path = linux
	url = git@github.com:Symbi-OS/linux.git
	branch = 5.14-config
[submodule "linuxConfigs"]
	path = linuxConfigs
	url = git@github.com:Symbi-OS/linuxConfigs.git
	branch = main
[submodule "networking"]
	path = networking
	url = git@github.com:Symbi-OS/networking.git
[submodule "new_lebench"]
	path = new_lebench
	url = git@github.com:unikernelLinux/new_lebench.git
[submodule "redis"]
	path = redis
	url = git@github.com:Symbi-OS/redis.git
[submodule "symVirtNetPollBinHack"]
	path = symVirtNetPollBinHack
	url = git@github.com:Symbi-OS/symVirtNetPollBinHack.git
[submodule "Tools"]
	path = Tools
	url = git@github.com:Symbi-OS/Tools.git
[submodule "Symlib"]
	path = Symlib
	url = git@github.com:Symbi-OS/Symlib.git
[submodule "LinuxPrototypes"]
	path = LinuxPrototypes
	url = git@github.com:Symbi-OS/LinuxPrototypes.git
[submodule "artifacts"]
	path = artifacts
	url = git@github.com:Symbi-OS/artifacts.git
[submodule "control"]
	path = control
	url = git@github.com:Symbi-OS/control.git
[submodule "saltstack"]
	path = saltstack
	url = git@github.com:Symbi-OS/saltstack.git
