[submodule "linux"]
	path = linux
	url = git@github.com:Symbi-OS/linux.git
[submodule "linuxConfigs"]
	path = linuxConfigs
	url = git@github.com:Symbi-OS/linuxConfigs.git
[submodule "min-initrd"]
	path = min-initrd
	url = git@github.com:Symbi-OS/min-initrd.git
[submodule "networking"]
	path = networking
	url = git@github.com:Symbi-OS/networking.git
[submodule "new_lebench"]
	path = new_lebench
	url = git@github.com:unikernelLinux/new_lebench.git
[submodule "redis"]
	path = redis
	url = git@github.com:Symbi-OS/redis.git
[submodule "symVirtNetPollBinHack"]
	path = symVirtNetPollBinHack
	url = git@github.com:Symbi-OS/symVirtNetPollBinHack.git
